ol{
    width: 50%;
    border: solid 2px red;
}

li{
    margin: 20px;
    padding: 5px;
    cursor: pointer;
    border: solid 2px black;
    width: fit-content;
}

#btn{
    margin: 10px 10px 10px 60px;
    padding: 5px;
    cursor: pointer;
}
